#app
	font-size: 1em
	text-align: center
	// background-color: #abb9c4
	height: 100vh
	font-family: "Lobster", cursive

	img
		background-color: #abb9c4
		width: 100%
		border-bottom: .2em solid #213291

.modal-dialog
	position: relative
	top: 30%

.modal-content
	// background-color: #abb9c4
	border: 0

.modal-title
	margin: .1em
	font-size: 2em

.modal-body
	font-size: 1.5em
	p
		margin: 1em

	input
		background-color: #abb9c4

		font-size: 1em
		margin-bottom: 1em
		text-align: center

	button
		font-size: 1em


.modal
	background: rgba(0, 0, 0, 0.44)
